<h1>Notes</h1>

<table class= "table">
  <thead>
    <tr>
      <th>owner</th>
      <th>title</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.owner.name %></td>
        <td><%= note.title %></td>
        <td><%= note.created_at %></td>
        <td><%= note.updated_at %></td>
        
        <td>
          <%= link_to 'Show', note, class: ["btn", "btn-sm", "btn-primary"] %>
          <%= link_to 'Edit', edit_note_path(note), class: ["btn", "btn-sm", "btn-info"] %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: ["btn", "btn-sm", "btn-danger"]  %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class: "btn btn-primary" %>
