<!DOCTYPE html>
<html>
  <head>
    <title>co-Note</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <div class="container">
      <%= render "shared/messages" %>
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">This is co-Note. The note sharing service.</p>
      </div>
    </footer>

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
